body{
    background-color: rgb(201, 199, 193);
}
div.header-img{
    width:100%;
    overflow:hidden;
    position:fixed;
}
#header-img{
    width:100px;
    filter:invert(100%);
    margin:auto;
    display:block;
}